
<meta charset="UTF-8">
<div class="smartphone">
  <div class="content">
    <div class="iframe">
      <img src="assets/connected.png" style="height: 110px; width: 140px;">
      <button type="button" [routerLink]="['/devices']" style="position: absolute; margin-top: 60px; height: 30px; background-color: lightblue">See Connected devices</button>
      <hr style="color:#000000; height: 5px;background-color: black"/>
      <h1 style="margin-top: 5px;margin-left: 65px; position: absolute;">Device Response</h1>
      <div class="container">
        <img src="assets/watch.png" style="height: 100px; width: 100px;position: absolute;margin-top: 50px">
        <h2 class="right-heading">Smart Watch Warning:<br/>Low blood oxygen saturation</h2>
        <h2 class="right-heading2">Smart Watch Warning:<br/>Increased heart rate!!!</h2>
      </div>
      <div class="container">
        <img src="assets/thermometer.png" style="height: 100px; width: 50px; position: absolute; margin-top: 170px; margin-left: 20px">
        <h2 class="right-heading3">Digital Thermometer Warning:<br/>Not recommended room temperature. <br/> High risk of getting a cold</h2>
      </div>
      <div class="container">
        <img src="assets/sleep.png" style="height: 95px; width: 95px;position: absolute;margin-top: 270px">
        <h2 class="right-heading4">Sleep Tracking Warning: :<br/>Bad sleep schedule from the<br/> last two days</h2>
      </div>
      <div class="container">
        <hr style="color:#000000; height: 5px;background-color: black;margin-top: 380px"/>
        <h2 class="right-heading5">Overall current health condition:</h2>
        <img src="assets/sad.png" style="height: 70px;width: 70px;margin-top: 30px">
        <h2 class="right-heading6">If nothing is changed, <br/>doctor assistance is needed!!!!</h2>
      </div>
    </div>
  </div>
</div>
