/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 6px black solid;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-radius: 20px;
}

/* The horizontal line on the top of the device */




/* The screen (or content) of the device */
.smartphone  {
  width: 360px;
  height: 640px;
  background: white;
}
.content{
  width: 360px;
  height: 640px;
  background: white;
}
iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.image1 {
  background-image: url('../../../assets/connected.png');
  width: 50px;
  height: 50px;
}

.container {
  position: relative;
}

.right-heading {
  position: absolute;
  top: 50px;
  right: 80px;
  font-size: 15px;
}

.right-heading2 {
  position: absolute;
  top: 100px;
  right: 115px;
  font-size: 15px;
}

.right-heading3{
  position: absolute;
  top: 180px;
  right: 25px;
  font-size: 15px;
}

.right-heading4{
  position: absolute;
  top: 280px;
  right: 85px;
  font-size: 15px;
}

.right-heading5{
  position: absolute;
  top: 5px;
  right: 80px;
  font-size: 15px;
}

.right-heading6{
  position: absolute;
  top: 50px;
  right: 80px;
  font-size: 15px;
}
